# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. Pandas

| Data Science Tools      | 
| ----------- | 
| RStudio      | 
| Apache Spark   | 
| TensorFlow   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This expression converts 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

## Author
Sarah Goldman